@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Helvetica';
    /* src: url('./font/HelveticaNeueBlack.otf') format('woff2'), */
        src: url('./font/HelveticaNeueRoman.otf') format('woff');
    /* Add more src lines for different formats if necessary */
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Helvetica', sans-serif; /* Apply the font to the body or any other element */
  }